<% include partials/header %>

    <div class="container">
        <h1>todos</h1>
        <input class="todo" type="text" placeholder="What needs to be done?">
    </div>
    <!-- This is where the todos will be -->
    <div class="container todoHolder"></div>
    <!-- <script type="text/javascript" src="todoModel.js"></script>
    <script type="text/javascript" src="todoView.js"></script>
    <script type="text/javascript" src="todoController.js"></script> -->
    <script type="text/javascript" src="todo.js"></script>
    
<% include partials/footer %>
